body {
	margin: 0;
	a, a:hover, a:active a:visited{
		text-decoration: none; 
		color:#000
}
	ul,li{
		list-style: none; 
		padding: 0; 
		margin: 0; 
		border: 0;
	}
	img{
		vertical-align: top;
	}
	a:focus,a:active{
		outline: none;
	}
}

